#vue-app
	.container-fluid{style: "padding-top: 15px;"}
		%h2 Card Templates
		%ul.list-group.list-group-horizontal
			%li.list-group-item= image_tag("membership.png", size: "60x50")
			%li.list-group-item= image_tag("membership.png", size: "60x50")
			%li.list-group-item= image_tag("membership.png", size: "60x50")