#vue-app
	.container-fluid{style: "padding-top: 15px;"}
		%h2 Card Templates
		%ul.list-group.list-group-horizontal
			%li.list-group-item Cras justo odio
			%li.list-group-item Dapibus ac facilisis in
			%li.list-group-item Morbi leo risus
